<!DOCTYPE html>
<html ng-app="mike">
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.4/angular-moment.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-controller='MyController as main'>
    <header class="header">
        <h3>Reddit Clone</h3>
        <button type="button" ng-click="toggleShow()">Submit Post</button>
        <input type="text" ng-model="searchable">
        <form name="sortForm">
          <label for="sorter"> Sort By... </label>
          <select class="sorter" name="sorter" ng-model="sorter">
            <option ng-selected="true" value="-votes.up">Votes</option>
            <option value="time">Date</option>
            <option value="title">Title</option>
          </select>
        </form>
        <h1>here {{sorter}} {{main.time | amCalendar}}</h1>
    </header>

    <main>
      <form name='form' ng-show='showMe' class="ng-hide" ng-submit="submitForm()">
        <input type="text" ng-model="title" placeholder="Title">
        <input type="text" ng-model="author" placeholder="Author">
        <input type="text" ng-model="img_url" placeholder="Imgage url">
        <input type="text" ng-model="description" placeholder="Description">
        <input type="text" ng-model="upvotes" ng-hide="true">
        <input type="text" ng-model="downvotes" ng-hide="true">
        <button type="submit" ng-click="toggleShow()">post it!</button>
      </form>

      <div ng-repeat = 'post in forms | filter:searchable | orderBy:sorter'>
        <p class="post">
          <img src={{post.img_url}} alt="" class="img"/>
          <h2>{{post.title}}</h2>
            <p class="votes">
              <a ng-click="upVote(post)">
                <i class="fa fa-arrow-up"></i>
                {{post.votes.up}}
              </a>
              <a ng-click="downVote(post)">
                <i class="fa fa-arrow-down"></i>
              </a>
              {{post.votes.down}}
            </p>
          <h4>{{post.author}}</h4>
          <p>
            {{post.description}}
          </p>
          <p>
            posted at
            <time am-time-ago="main.time" title="{{ post.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>
          </p>
        </p>
      </div>
    </main>

  </body>
</html>
