<!DOCTYPE html>
<html ng-app="mike">
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.0/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.4/angular-moment.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-controller='MyController as main'>
    <header class="header">
        <h3>Reddit Clone</h3>
        <button type="button" ng-click="toggleShow()">Submit Post</button>
        <input type="text" ng-model="searchable">
        <form name="sortForm">
          <label for="sorter"> Sort By... </label>
          <select class="sorter" name="sorter" ng-model="sorter">
            <option ng-selected="true" value="-votes.up">Votes</option>
            <option value="time">Date</option>
            <option value="title">Title</option>
          </select>
        </form>
        <h1>here {{sorter}} {{main.time | amCalendar}}</h1>
    </header>

    <main>
      <form name='newPostForm' ng-show='showMe' class="ng-hide" ng-submit="submitForm()">
        <input type="text" name="title" ng-model="title" placeholder="Title" ng-maxlength="15" required>
          <div ng-messages="newPostForm.title.$error">
            <div class="errMsg" ng-message="required">*</div>
            <div class="errMsg" ng-message="maxlength">Message must not exceed 15 characters</div>
          </div>
        <input type="text" name="author" ng-model="author" placeholder="Author" ng-maxlength="30" required>
          <div ng-messages="newPostForm.author.$error">
            <div class="errMsg" ng-message="required">*</div>
            <div class="errMsg" ng-message="maxlength">Message must not exceed 30 characters</div>
          </div>
        <input type="text" name="img_url" ng-model="img_url" placeholder="Imgage url" ng-maxlength="40" required>
          <div ng-messages="newPostForm.img_url.$error">
            <div class="errMsg" ng-message="required">*</div>
            <div class="errMsg" ng-message="maxlength">Message must not exceed 400 characters</div>
          </div>
        <input type="text" name="description" ng-model="description" placeholder="Description" ng-maxlength="500" required>
          <div ng-messages="newPostForm.description.$error">
            <div class="errMsg" ng-message="required">*</div>
            <div class="errMsg" ng-message="maxlength">Description must not exceed 500 characters</div>
          </div>
        <button type="submit" ng-click="toggleShow()">post it!</button>
      </form>

      <div ng-repeat = 'post in forms | filter:searchable | orderBy:sorter'>
        <p class="post">
          <img src={{post.img_url}} alt="" class="img"/>
          <h2>{{post.title}}</h2>
            <p class="votes">
              <a ng-click="upVote(post)">
                <i class="fa fa-arrow-up"></i>
                {{post.votes.up}}
              </a>
              <a ng-click="downVote(post)">
                <i class="fa fa-arrow-down"></i>
              </a>
              {{post.votes.down}}
            </p>
          <h4>{{post.author}}</h4>
          <p>
            {{post.description}}
          </p>
          <p>
            posted at
            <time am-time-ago="post.time" title="{{ post.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>
            comment
            <button type="button" ng-click="toggleCommentShow()">Write Comment</button>
            <form name='newCommentForm' ng-show='showComment' class="ng-hide" ng-submit="submitCommentForm()">
              <input type="text" name="commentAuthor" ng-model="commentAuthor" placeholder="Author" ng-maxlength="30" required>
                <div ng-messages="newCommentForm.commentAuthor.$error">
                  <div class="errMsg" ng-message="required">*</div>
                  <div class="errMsg" ng-message="maxlength">Message must not exceed 30 characters</div>
                </div>
              <input type="text" name="comment" ng-model="comment" placeholder="comment" ng-maxlength="150" required>
                <div ng-messages="newCommentForm.comment.$error">
                  <div class="errMsg" ng-message="required">*</div>
                  <div class="errMsg" ng-message="maxlength">Message must not exceed 15 characters</div>
                </div>
                <button type="submit" ng-click="toggleCommentShow()">post it!</button>
          </p>
        </p>
      </div>
    </main>

  </body>
</html>
