.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
i{
  color: black;
}
body{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.btn{
  color: black;
  text-decoration: none;
}
.header{
  background: #f8f8f8;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 1%;
  height: 10vh;
}
.headspace{
  margin-left: 5%;
  color: #a9a9a9;
}
.img{
  height: 180px;
  width: 300px;
}
.titleVotes{
  display: flex;
  flex-direction: row;
}
.votes{
  text-decoration: none;
  color: black;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 5vw;
}
.rightpost{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  height:40vh;
  width: 100%;
}
.post{
  display: flex;
  flex-direction: row;
  padding: 3%;
}
.postdiv{
  display: flex;
  flex-direction: column;
  align-self: center;
  background: #f8f8f8;
  border: 1px solid black;
  padding: 5px;
  margin: 3%;
}
.postauthor{
  display: flex;
  justify-content: flex-end;
}
#vote_color{
  font-size: 20px;
}
.commentdiv{
  display: flex;
  flex-direction: row;
}
.errMsg{
  color: red;
}
.mainform{
  display: flex;
  justify-content: center;
}
