.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
i{
  color: black;
}
a{
  text-decoration: none;
  color: black;
}
body{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.btn{
  color: black;
  text-decoration: none;
}
.header{
  background: #f8f8f8;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding: 1%;
  height: 10vh;
}
.headspace{
  margin-left: 5%;
  color: #a9a9a9;
}
.img{
  height: 180px;
  width: 300px;
}
.titleVotes{
  display: flex;
  flex-direction: row;
}
.votes{
  text-decoration: none;
  color: black;
  margin-top: 3%;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 5vw;
}
.rightpost{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  height:25vh;
  width: 100%;
}
.post{
  display: flex;
  flex-direction: row;
  padding: 3%;
}
.postdiv{
  display: flex;
  flex-direction: column;
  align-self: center;
  background: #f8f8f8;
  border: 1px solid black;
  padding: 5px;
  margin: 2%;
}
.postauthor{
  display: flex;
  justify-content: flex-end;
}
#vote_color{
  font-size: 20px;
}
.commentdiv{
  display: flex;
  flex-direction: row;
  width:50%;
  justify-content: space-around;
  margin-left:30%;
  margin-top: -5%;
  margin-bottom: 2%;
}
.description{
  height: 7vh;
  overflow: auto;
}
.errMsg{
  color: red;
}
.mainform{
  display: flex;
  justify-content: center;
}
.indicomment{
  border: 1px
}
.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.ng-enter-active {
  opacity: 1;
}
.indicomment{
  margin-left: 5%;
  display: flex;
}
.commentAuthor{
  margin: 0;
  padding: 0;
}
