main{
  display: flex;
  justify-content: center;
}
body{
  display:flex;
  flex-direction: column;
  padding: 0;
}
.header{
  background: #f8f8f8;
  display:flex;
  padding: 1%;
}
.img{
  height: 180px;
  width: 300px;
}
.postdiv{
  display: flex;
  background: #f8f8f8;
  border: 1px solid black;
  padding: 5px;
  margin: 1%;

}
.errMsg{
  color: red;
}
